* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: #1b1533;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    align-items: center;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
    display: flex;
    align-items: center;
}
.navbar a svg {
    margin-right: 8px;
    fill: white;
    width: 20px;
    height: 20px;
}
.navbar a:hover {
    background-color: #c0cfff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: #1b1533;
}

.navbar a:hover svg {
    fill: #1b1533;
}