* {
    margin: 0;
    padding: 0;
    background-color: #c0cfff;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #1b1533;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.center-text {
    font-size: 55px;
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}